<button id='themeToggleBtn'></button>

<script>
  const buttonEl = document.getElementById('themeToggleBtn')

  if (buttonEl) {
    buttonEl.innerHTML = localStorage.getItem('theme') === 'dark' ? '🌞' : '🌙'
  }

  buttonEl?.addEventListener('click', () => {
    const currentTheme = localStorage.getItem('theme')

    currentTheme === 'dark'
      ? window.localStorage.setItem('theme', 'light')
      : window.localStorage.setItem('theme', 'dark')
    if (currentTheme && currentTheme === 'dark') {
      document.documentElement.classList.toggle('dark')
      buttonEl.innerHTML = '🌙'
    } else {
      document.documentElement.classList.add('dark')
      buttonEl.innerHTML = '🌞'
    }
  })
</script>
