---
import Logo from '@elements/Logo/Logo.astro'
import ToggleTheme from '@elements/ToggleTheme/ToggleTheme.astro'
---

<header class='w-full p-4 shadow-md'>
  <nav class='flex justify-between items-center' role='menu'>
    <Logo size='text-lg' />

    <div>
      <ToggleTheme />
    </div>
  </nav>
</header>
