---
import Intro from '@components/Intro/Intro.astro'

import Snapx from '@components/Snapx/Snapx.astro'
---

<section>
  <div
    class='h-screen flex flex-col md:flex-row justify-center items-center gap-24'
  >
    <Intro />
    <Snapx />
  </div>
</section>
